{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5">Site: {{ url_name }}</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover" data-test="url">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ url_id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ url_name }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ created_at.strftime('%Y-%m-%d') if created_at else '' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="mt-5 mb-3">Checks</h2>
<form action="{{ url_for('url_detail', id=url_id) }}" method="post">
    <button type="submit" class="btn btn-primary">Run check</button>
</form>

<div class="table-responsive mt-3">
    <table class="table table-bordered table-hover" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Response Code</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

